{% extends 'base.html' %}
{% block title %}
<title>Your Appointments</title>
{% endblock title %}


{% block content %}

<section id="news" data-stellar-background-ratio="2.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Your Appointments</h2>
                </div>
            </div>


            {% if appointment_list %}
            {% for app in appointment_list %}
            <div class="col-md-4 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <div class="news-info">

                        <h3><a href="{{ app.get_absolute_url }}">{{ app.department }}</a></h3>

                        <div class="author">

                            <div class="author-info">



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <h3>there is no appointments</h3>
            {% endif %}


        </div>
    </div>
</section>


{% endblock content %}