{% extends 'base.html' %}


{% block title %}<title>{{object.title}}</title>{% endblock title %}

{% block content %}


<!-- NEWS DETAIL -->
<section id="news-detail" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-7">
                <!-- NEWS THUMB -->
                <div class="news-detail-thumb">
                    <div class="news-image">
                        <img src="{{ object.pic.url }}" class="img-responsive" alt="">
                    </div>
                    <h3>{{ object.title }}</h3>
                    <p>{{ object.body }}</p>
                    <blockquote>The greatest disease in the West today is not TB or leprosy; it is being unwanted,
                        unloved, and uncared for. We can cure physical diseases with medicine, but the only cure for
                        loneliness, despair, and hopelessness is love. There are many in the world who are dying for a
                        piece of bread but there are many more dying for a little love. The poverty in the West is a
                        different kind of poverty -- it is not only a poverty of loneliness but also of spirituality.
                        There's a hunger for love, as there is a hunger for God.</blockquote>



                    <div class="news-social-share">
                        <h4>Share this article</h4>
                        <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                        <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-5">
                <div class="news-sidebar">
                    <div class="news-author">
                        <h4>Author</h4>
                        <p>{{object.docname.name}}</p>
                        <p>{{object.docname.title}}</p>
                    </div>

                    <div class="recent-post">
                        <h4>Recent Posts</h4>
                        {% for new in news_list %}
                        <div class="media">
                            <div class="media-object pull-left">

                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Introducing a new healing process</a></h4>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="media">
                            <div class="media-object pull-left">

                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">About Amazing Technology</a></h4>
                            </div>
                        </div>
                    </div>

                    <div class="news-categories">
                        <h4>Categories</h4>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                    </div>

                    <div class="news-ads sidebar-ads">
                        <h4>Sidebar Banner Ad</h4>
                    </div>

                    <div class="news-tags">
                        <h4>Tags</h4>
                        <li><a href="#">Pregnancy</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Consultant</a></li>
                        <li><a href="#">Medical</a></li>
                        <li><a href="#">Doctors</a></li>
                        <li><a href="#">Social</a></li>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock content %}